/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button, input[type="submit"] {
  cursor: pointer;
  background-color: white;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
*[disabled=""] {
  opacity: 0.2;
}
input.error, textarea.error{
  border: 1px solid red;
}
.error-text{
  color: red;
  margin-top: 5px;
}
